.paginate {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    border: 2px solid
}

.paginationBttns a {
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    cursor: pointer;
  }
  .paginationBttns li {
    float: left;
    list-style-type: none;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: rgb(238, 224, 224);
  }
  
  .paginationActive a {
    color: white;
    background-color: rgb(238, 224, 224);
  }