html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.paginate {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.paginationBttns a {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: black;
  cursor: pointer;
}
.paginationBttns li {
  float: left;
  list-style-type: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgb(238, 224, 224);
}

.paginationActive a {
  color: white;
  background-color: rgb(238, 224, 224);
}

.details {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
